<div th:fragment="header">

 <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a th:attr="class=${active == 1 ? 'nav-link active' : 'nav-link'}"  th:href="@{'/korban/view'}">Dashboard </a>
        <div sec:authorize="hasRole('ROLE_USER')">
        	<a th:attr="class=${active ==2 ? 'nav-link active' : 'nav-link'}"  th:href="@{'/korban/add'}">Tambah Laporan</a>
        </div>
        <div sec:authorize="hasRole('ROLE_ADMIN')">
        	<a th:attr="class=${active ==3 ? 'nav-link active' : 'nav-link'}"  th:href="@{'/korban/Adminview'}">Proses Laporan</a>
        </div>
        	<a th:href="@{'/logout'}" class ="nav-link" tabindex="-1" aria-disabled="true" style="color:red;">Logout</a>
      </div>
    </div>
  </div>
</nav>
</div>